body {
    font-size: 0.8rem;
    font-family:'Open Sans',sans-serif;
    background-color: #efefef;
}

/* ---- */
/* Logo */
/* ---- */

@media (max-width: 420px) {
    .logo {
    width:250px;
    }
}

/* ------- */
/* En-tête */
/* ------- */

#reseaux a:link {
    color: #e2ede4;
    font-size: 2.6em;
}

header {
    height: 233px;
    background-image: url(../images/header-test-01.jpg);
    background-size: cover;
    background-position: center;
}

/* ------------------------------ */
/* lien de la barre de navigation */
/* ------------------------------ */

/* unvisited link */
.navbar-light .navbar-nav .nav-link:link {
    color: #e2ede4;
}

/* visited link */
.navbar-light .navbar-nav .nav-link:visited {
    color: #e2ede4;
}

/* mouse over link */
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* selected link */
.navbar-light .navbar-nav .nav-link:active {
    color: #e2ede4;
}

/* ----------- */
/* Menu burger */
/* ----------- */

.navbar-light .navbar-toggler {
	color:#e2ede4;
}

/* --------------------- */
/* sous menu du pillmenu */
/* --------------------- */

.dropdown-item {
    font-size: 0.8rem;
}

/* ----------------------- */
/* Edito sur deux colonnes */
/* ----------------------- */

/* tailles MD, LG et XL */

@media (min-width: 768px) {
    .edito2col {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;

        -webkit-column-rule-width:1px;
        -webkit-column-rule-color:silver;
        -webkit-column-rule-style:dashed;

        -moz-column-rule-width:1px;
        -moz-column-rule-color:silver;
        -moz-column-rule-style:dashed;

        -o-column-rule-width:1px;
        -o-column-rule-color:silver;
        -o-column-rule-style:dashed;

        column-rule-width:1px;
        column-rule-color:silver;
        column-rule-style:dashed;
        }
    }

/* Tailles XS et SM */

@media (max-width: 767.9px) {
        .edito2col {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            -webkit-column-gap: 3em;
            -moz-column-gap: 3em;
            column-gap: 3em;
            }

        .masque-border {
            border-right: none !important;
        }
    }

/* ------------------------------------ */
/* texte sur 2 cols de l'index des noms */
/* ------------------------------------ */

#colindex {
    -moz-column-count:2;
    -webkit-column-count:2;
    -o-column-count:2;
    column-count:2;
    -moz-column-gap:40px;
    -webkit-column-gap:40px;
    -o-column-gap:40px;
    column-gap:40px;
    -webkit-column-rule-width:1px;
    -webkit-column-rule-color:silver;
    -webkit-column-rule-style:dashed;
    -moz-column-rule-width:1px;
    -moz-column-rule-color:silver;
    -moz-column-rule-style:dashed;
    -o-column-rule-width:1px;
    -o-column-rule-color:silver;
    -o-column-rule-style:dashed;
    column-rule-width:1px;
    column-rule-color:silver;
    column-rule-style:dashed;
    text-align:justify
}

#colindex img {
    box-shadow:1px 1px 12px #555
}

#colindex figure {
    text-align:center;
    color:#363535;
    margin-bottom:35px
}

/* ------------------- */
/* Articles des pages  */
/* ------------------- */

section {
    background-color: #efefef;
}

#article {
    
    width:100%;
    padding-left:15px;
    padding-right:15px;
    
}

.h1, h1 {
    font-size: 1.8rem;
}

.h2, h2 {
    font-size: 1.3rem;
}

a {
    color: #1863b3;
    text-decoration: none;
    background-color: transparent;
}

/* ------------ */
/* Pied de page */
/* ------------ */

footer {
    color:white;
    font-size: 0.7rem;
}

footer a:link {
    color:#e2ede4;
    text-decoration:none;
}


footer a:visited {
    color:#e2ede4;
    text-decoration:none;
}

footer a:hover {
    color:#e2ede4;
    text-decoration:underline;
}

/* ------------------- */
/* style pour le aside */
/* ------------------- */

aside {
    /* width:222px; */
    background-color: #5b5b5b;
}


aside a.list-group-item {
    background-color:#5b5b5b;
    border: 1px solid #e2ede4;
    color:#e2ede4;
}

aside a.list-group-item:hover {
    color:#5b5b5b;
    background-color:#e2ede4;
    text-decoration:none;
}

aside.col-12 {
    padding-right: 0px;
    padding-left: 0px;
}

aside.col-sm-3 {
    padding-right: 0px;
    padding-left: 0px;
}

/* ------------ */
/* fil d'ariane */
/* ------------ */

.breadcrumb {
    background-color: #efefef;
}

/*
#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(0,0,0);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}
*/
/*
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}
*/
/*
.sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
}
*/
/*
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
*/
/*
.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}
*/
/*
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
*/
/*
.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}
*/
/*
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
*/
/*
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/
/*
#menu-toggle {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
*/
/*
#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
*/

.toggle {
    margin: 5px 5px 0 0;
}

/* ---------------- */
/* modal de contact */
/* ---------------- */

.modal-dialog {
    width: 70%;
    max-width:900px;
}

/* TEST */

.container-fluid {
    background-color: #364046;
}

.bandeau {
    background-image:url('../tombes/images/bandeau.jpg');
    width:100%;
    height:50px;
    margin-bottom:15px;
}

#aside {  
    display:none;
}

/* ----------- */
/* Visionneuse */
/* ----------- */

.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative;
}

.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:10px;
    margin:10px;
    background:#f1f1f1;
    color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute;
    border-radius:50%;
    top:calc(50% - 20px);
}

.MultiCarousel .leftLst { 
    left:0;
}

.MultiCarousel .rightLst { 
    right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc;
}
