body {
    font-size: 0.8rem;
    font-family:'Open Sans',sans-serif;
    background-color: #efefef;
}

/* ---- */
/* Logo */
/* ---- */

/* Peut-être inutile */

@media (max-width: 420px) {
    .logo {
    width:100%;
    }
}

/* ------- */
/* En-tête */
/* ------- */

/*
#reseaux a:link {
    color: #e2ede4;
    font-size: 2.6em;
}
*/

#bandeau {
    height: 233px;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    margin-right: -15px; 
    margin-left: -15px;
}

#bandeautest {
    /* height: 233px;*/
    background-size: cover;
    background-position: center;
    margin-right: -15px; 
    margin-left: -15px;
}

/* ------------------------------ */
/* lien de la barre de navigation */
/* ------------------------------ */

/* unvisited link */
.navbar-light .navbar-nav .nav-link:link {
    color: #e2ede4;
}

/* visited link */
.navbar-light .navbar-nav .nav-link:visited {
    color: #e2ede4;
}

/* mouse over link */
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* selected link */
.navbar-light .navbar-nav .nav-link:active {
    color: #e2ede4;
}

/* ----------- */
/* Menu burger */
/* ----------- */

/*
.navbar-light .navbar-toggler {
	color:#e2ede4;
}
*/

.navbar-light .navbar-toggler-icon {
    background-image: url(../images/menu.svg);
}

/* Supprime le focus qu'il y a autour du menu burger */

.navbar-light .navbar-toggler:focus {
	outline:none;
}

/* --------------------- */
/* sous menu du pillmenu */
/* --------------------- */

.dropdown-item {
    font-size: 0.8rem;
}

/* ----------------------- */
/* Edito sur deux colonnes */
/* ----------------------- */

/* tailles MD, LG et XL */

@media (min-width: 768px) {
    .edito2col {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;

        -webkit-column-rule-width:1px;
        -webkit-column-rule-color:silver;
        -webkit-column-rule-style:dashed;

        -moz-column-rule-width:1px;
        -moz-column-rule-color:silver;
        -moz-column-rule-style:dashed;

        -o-column-rule-width:1px;
        -o-column-rule-color:silver;
        -o-column-rule-style:dashed;

        column-rule-width:1px;
        column-rule-color:silver;
        column-rule-style:dashed;
        }
    }

/* Tailles XS et SM */

@media (max-width: 767.9px) {
        .edito2col {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            -webkit-column-gap: 3em;
            -moz-column-gap: 3em;
            column-gap: 3em;
            }

        .masque-border {
            border-right: none !important;
        }
    }

/* ------------------- */
/* Articles des pages  */
/* ------------------- */

section {
    background-color: #efefef;
}

#article {
    
    width:100%;
    padding-left:15px;
    padding-right:15px;
    
}

.h1, h1 {
    font-size: 1.58rem;
}

.h2, h2 {
    font-size: 1.3rem;
}

.h3, h3 {
    font-size: 1.15rem;
}

a {
    color: #1863b3;
    text-decoration: none;
    background-color: transparent;
}

/* ------------ */
/* Pied de page */
/* ------------ */

footer {
    color:white;
    font-size: 0.7rem;
}

footer a:link {
    color:#e2ede4;
    text-decoration:none;
}


footer a:visited {
    color:#e2ede4;
    text-decoration:none;
}

footer a:hover {
    color:#e2ede4;
    text-decoration:underline;
}

/* ------------------- */
/* style pour le aside */
/* ------------------- */

aside {
    background-color: #5b5b5b;
}


aside a.list-group-item {
    background-color:#5b5b5b;
    border: 1px solid #e2ede4;
    color:#e2ede4;
}

aside a.list-group-item:hover {
    color:#5b5b5b;
    background-color:#e2ede4;
    text-decoration:none;
}

aside.col-12 {
    padding-right: 0px;
    padding-left: 0px;
}

aside.col-sm-3 {
    padding-right: 0px;
    padding-left: 0px;
}

/* ------------ */
/* fil d'ariane */
/* ------------ */

.breadcrumb {
    background-color: #efefef;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* ---------------- */
/* modal de contact */
/* ---------------- */

.modal-dialog {
    width: 70%;
    max-width:900px;
}

/* TEST */

.container-fluid {
    background-color: #364046;
}

.bandeau {
    background-image:url('../tombes/images/bandeau.jpg');
    width:100%;
    height:50px;
    margin-bottom:15px;
}

#aside {  
    display:none;
}

/* ----------- */
/* Visionneuse */
/* ----------- */

.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative;
}

.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:10px;
    margin:10px;
    background:#f1f1f1;
    color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute;
    border-radius:50%;
    top:calc(50% - 20px);
}

.MultiCarousel .leftLst { 
    left:0;
}

.MultiCarousel .rightLst { 
    right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none; 
    background:#ccc;
}

/* ********************* */
/* ********************* */
/* ********************* */
/* ********************* */
/* ********************* */

/* tests nouveau header */

.bg-dark {
    background-color: #374047!important;
}

#myCarousel {
    margin-left:-15px;
    margin-right:-15px;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
*/

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    /* bottom: 3rem; */
    z-index: 10;
    background-color: #3740474d;
    padding: 10px;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.05rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }