body {  
    background-attachment:fixed;
    background-repeat:repeat;
    background-position:center top;
    background-image:url(../images/fond.jpg);
    font-size: 0.8rem; 
    font-family:'Open Sans',sans-serif;
}    

/* ------- */
/* En-tête */
/* ------- */

#reseaux a:link {
    color: #e2ede4;
    font-size: 2.6em; 
}

header {
    height: 233px;
    background-image: url(../images/fond-test-01.jpg);
    background-position: center;
}

/* boutons de la barre de navigation */

.navbar-light .navbar-nav .nav-link {
    color: #e2ede4;
}

.navbar-light .navbar-toggler:focus {
	outline:none;
}

/* -- */
/* MD */
/* -- */

@media (min-width: 768px) and (max-width: 991.98px) {
    .logo {
        width:80%;
    }
}

/* -------- */
/* LG et XL */
/* -------- */

@media (min-width: 992px) {
    .logo {
        width:280px;
    }
}

/* ------------ */
/* MD, LG et XL */
/* ------------ */

@media (min-width: 768px) {
    .edito2col {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
        
        -webkit-column-rule-width:1px;
        -webkit-column-rule-color:silver;
        -webkit-column-rule-style:dashed;
        
        -moz-column-rule-width:1px;
        -moz-column-rule-color:silver;
        -moz-column-rule-style:dashed;
        
        -o-column-rule-width:1px;
        -o-column-rule-color:silver;
        -o-column-rule-style:dashed;
        
        column-rule-width:1px;
        column-rule-color:silver;
        column-rule-style:dashed;        
        }
    }

/* -------- */
/* XS et SM */
/* -------- */

@media (max-width: 767.9px) {
    .edito2col {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
        }

    .logo {
        width:280px;
    }

    }

/* --------------------------------- */

section {
    background-color: #efefef;
    padding-bottom:26px;
    }

.h1, h1 {
    font-size: 1.8rem;
    }

.h2, h2 {
    font-size: 1.3rem;
    }

/* --------------------------------- */

footer {
    background-color: #364046;
    color:white;
    font-size: 0.7rem;
    }

footer a:link {
    color:#e2ede4;
    text-decoration:none;
    }


footer a:visited {
    color:#e2ede4;
    text-decoration:none;
    }
    
footer a:hover {
    color:#e2ede4;
    text-decoration:underline;
    }

/* -------------------------------------- */
/* style pour la visionneuse des archives */
/* -------------------------------------- */

aside {
    width:222px;
}

.vignette {
    border:1px solid #eFeFeF;
    width:40%;
    text-align:center;
    float:left;
    height:110px;
    vertical-align: middle;
    margin: 7px;
}

.vignette img {
    width: 60px;
    margin-top: 6px;
}

.vignette figcaption {
    color:#eFeFeF;
    border-top:1px solid #eFeFeF;
}