@charset "utf-8";

body{
	color:#3b4247;
	font-family:'Open Sans',sans-serif;
	background-attachment:fixed;
	background-repeat:repeat;
	background-position:center top;
	background-color:#3b4247;
	background-image:url(../images/fond3.jpg);
	margin:0
	}
	
.sources{text-align:center;margin-top:130px;font-size:12px}

/*
h1{font-size:26px;margin-bottom:30px}
h3{font-size:22px;margin-bottom:12px}
h2{font-size:16px;margin-bottom:12px}
*/

*{margin:0;padding:0}

a:link{color:#000;text-decoration:underline}

a:visited,a:hover{color:#3b4247;text-decoration:underline}



nav{
	
	z-index:5;
	
	background-color:#364046;
	height:41px;
	text-align:center;
	padding-bottom:5px;
	float: right;
	}
	
#navbarSupportedContent ul {
	
	float:right;
}	

#navbarSupportedContent ul {
	
	float:right;
}	


	
#navbarSupportedContent ul li a:link,nav a:visited{
	float:right; 
	display:block;
	background-color:#5b5b5b;
	padding:8px;
	text-align:center;
	margin-left:3px;
	color:#e2ede4;
	text-decoration:none;
	
	width: 125px;
	
	}
	
#navbarSupportedContent ul li a:hover{
	float:right;
	display:block;
	padding:8px;
	text-align:center;
	margin-left:3px;
	color:#5b5b5b;
	background-color:#e2ede4;
	text-decoration:none;
	
	width: 125px;
	
	}
	
#navbarSupportedContent ul li a.NavSelected{
	height: 50px;
	background-color:#eFeFeF;
	color:#5b5b5b;
	
	width: 125px;
	
	}
		
/*
	
.navbar
	{
	
	}	

*/

header{
	background-color:#364046;
	height:175px;
	/* 
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0
	*/
	}
	
header img
	{
	/*width:50%;*/
	}	

header a:link{color:#e2ede4;text-decoration:none}
header a:hover{color:#e2ede4;text-decoration:underline}

article{
	background-color:#eFeFeF;
	/*
	padding:20px;
	margin-left:200px;
	display:table-cell;
	*/
	padding-top:0
	}

article img{box-shadow:1px 1px 12px #555;margin-bottom:6px;margin-top:12px}

article p{
	text-align:justify;
	/*
	margin-bottom:15px;
	font-size:.9em;
	*/
	}

article ul li{text-align:justify;margin-left:35px;font-size:14px}
article .right{text-align:right;}

aside{

	background-color:#5b5b5b;
	
	}

aside ul {
	/* margin-top:1px; */
	list-style-type:none;
	/* border-top:1px solid #e2ede4; */
	}

aside ul li{border-bottom:1px solid#e2ede4}
aside ul li a:link,aside ul li a:visited{display:block;color:#e2ede4;text-decoration:none;padding:6px;font-size:14px;padding-left:13px}
aside ul li a:hover{display:block;color:#5b5b5b;background-color:#e2ede4;text-decoration:none;padding:6px;font-size:14px;padding-left:13px}
aside ul li a.AsideSelected{color:#5b5b5b;background-color:#FFF;margin-right:-15px}

section{
	/*
	width:960px;
	margin-left:auto;
	margin-right:auto;
	display:table;
	*/
	margin-top:0;
	background-color:#efefef;
	padding-top:25px
	}
	
.container section aside {
	padding-left:0px;
	padding-right:0px;
}

.menu{float:left;width:200px;height:200px;margin-left:13px;margin-right:14px;margin-top:25px;background-color:#B5AB8D;color:#3b4247}
.menu h4{text-align:center;color:#3b4247}
.menu ul li a:link,.menu ul li a:visited{text-decoration:none;color:#3b4247}
.menu ul li a:hover{text-decoration:underline;color:#3b4247}

footer{
	background-color:#3b4247;
	/* text-align:center; */
	padding-top:15px;
	padding-bottom:15px;
	color:#FFF;	
	font-size:12px;
	/*
	width:960px;
	margin-left:auto;
	margin-right:auto
	*/
	}

footer a:link{color:#e2ede4;text-decoration:none}
footer a:visited,footer a:hover{color:#e2ede4;text-decoration:underline}

#single_image{text-decoration:none}
#disqus_thread{margin-top:50px}
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url(fancybox.png)}
#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none}
#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none}
#fancybox-wrap{position:absolute;top:0;left:0;padding:20px;z-index:1101;outline:none;display:none}
#fancybox-outer{position:relative;width:100%;height:100%;background:#fff}
#fancybox-content{width:0;height:0;padding:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0 solid #fff}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url(fancybox.png) -40px 0;cursor:pointer;z-index:1103;display:none}
#fancybox-error{color:#444;font:normal 12px/20px Arial;padding:14px;margin:0}
#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top}
#fancybox-frame{width:100%;height:100%;border:none;display:block}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:none;z-index:1102;display:none}
#fancybox-left{left:0}
#fancybox-right{right:0}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}
#fancybox-left-ico{background-image:url(fancybox.png);background-position:-40px -30px}
#fancybox-right-ico{background-image:url(fancybox.png);background-position:-40px -60px}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible}
#fancybox-left:hover span{left:20px}
#fancybox-right:hover span{left:auto;right:20px}
.fancybox-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001}
#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url(fancybox-x.png)}
#fancybox-bg-ne{top:-20px;right:-20px;background-image:url(fancybox.png);background-position:-40px -162px}
#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url(fancybox-y.png);background-position:-20px 0}
#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url(fancybox.png);background-position:-40px -182px}
#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url(fancybox-x.png);background-position:0 -20px}
#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url(fancybox.png);background-position:-40px -142px}
#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url(fancybox-y.png)}
#fancybox-bg-nw{top:-20px;left:-20px;background-image:url(fancybox.png);background-position:-40px -122px}
#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102}
.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative}
.fancybox-title-outside{padding-top:10px;color:#fff}
.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left}
#fancybox-title-over{padding:10px;background-image:url(fancy_title_over.png);display:block}
.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px}
#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto}
#fancybox-title-float-wrap td{border:none;white-space:nowrap}
#fancybox-title-float-left{padding:0 0 0 15px;background:url(fancybox.png) -40px -90px no-repeat}
#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:700;padding:0 0 17px;background:url(fancybox-x.png) 0 -40px}
#fancybox-title-float-right{padding:0 0 0 15px;background:url(fancybox.png) -55px -90px no-repeat}
.fancybox-ie6 #fancybox-close{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-left-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-right-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-over{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png',sizingMethod='scale');zoom:1}
.fancybox-ie6 #fancybox-title-float-left{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-float-main{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-float-right{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame{height:expression(this.parentNode.clientHeight + "px")}
#fancybox-loading.fancybox-ie6{position:absolute;margin-top:0;top:expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2) + (ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px')}
#fancybox-loading.fancybox-ie6 div{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png',sizingMethod='scale')}
.fancybox-ie .fancybox-bg{background:transparent!important}
.fancybox-ie #fancybox-bg-n{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-ne{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-e{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-se{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-sw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-w{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-nw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png',sizingMethod='scale')}
table{border-collapse:collapse;width:100%;margin-left:auto;margin-right:auto;text-align:left;font-size:13px;margin-bottom:50px}
td{border-width:1px;border-style:solid;border-color:#3a4247;padding:5px}
thead{background-color:#D3CECE}
tr{height:47px}
#rezo{float:right;padding-right:15px}
#rezo img{width:50px;height:50px;padding-top:24px;padding-right:7px}
figure{text-align:center;color:#363535;font-size:12px;margin-bottom:35px}
.video{text-align:center;margin-bottom:45px}

.legende{
	text-align:center;
	color:#363535;
	font-size:12px;
	/* margin-bottom:35px; */
	margin-top:4px
	}

.tab_camp{border-collapse:collapse;width:450px;margin-left:auto;margin-right:auto;text-align:center;font-size:13px}
#navbis{width:957px;margin-left:auto;margin-right:auto;background-color:#5b5b5b;color:#e2ede4;font-size:.9em;text-align:center;padding-top:4px;padding-bottom:4px}
#navbis a:link,#navbis a:visited{color:#e2ede4;text-decoration:none;padding:4px}
#navbis a:hover{color:#5b5b5b;background-color:#e2ede4;text-decoration:none;padding:4px}
#colindex{-moz-column-count:2;-webkit-column-count:2;-o-column-count:2;column-count:2;-moz-column-gap:40px;-webkit-column-gap:40px;-o-column-gap:40px;column-gap:40px;-webkit-column-rule-width:1px;-webkit-column-rule-color:silver;-webkit-column-rule-style:dashed;-moz-column-rule-width:1px;-moz-column-rule-color:silver;-moz-column-rule-style:dashed;-o-column-rule-width:1px;-o-column-rule-color:silver;-o-column-rule-style:dashed;column-rule-width:1px;column-rule-color:silver;column-rule-style:dashed;text-align:justify}
#colindex img{box-shadow:1px 1px 12px #555}
#colindex figure{text-align:center;color:#363535;font-size:12px;margin-bottom:35px}

.logo {
	margin-top:40px; 
	/* width:100%; */
	/* margin-left:72px; */
	}

#pubaside{text-align:center;margin-top:20px;}

h3 {
	margin-bottom:35px;	
}

table {
	
}

table caption
	{
	margin-bottom:0px;
	padding-bottom:0px;
	}
	
