 @media (max-width: 575.98px) {
	
	
		header hgroup {
	
		margin-left: 0px;
		text-align: center;
		margin-bottom: 37px;
		}
		
		header hgroup img {
		width:100%;
		max-width: 359px;
		}
		
			nav {
			height:56px;
			margin-top: -40px;
		}
		
		
#navbarNav {
	border: 2px solid #364046;
	z-index: 2;
	/* width: 300px; */
	background-color: #364046;
}
	
a.nav-link {
	/* display: block; */
	background-color: #5b5b5b;
	/* width: 100%; */
	/* padding: 8px; */
	text-align: center;
	margin-left: 0px;
	/* text-decoration: none; */
	margin: 2px;
}
	
	}
	
  @media (min-width: 575.98px) {
	
	
	
		header hgroup {

		margin-left: 54px;
	}
	
		nav {
		height:41px;
	}
	
		a.nav-link {
		display: block;
		background-color: #5b5b5b;
		width: 115px;
		padding: 8px;
		text-align: center;
		margin-left: 3px;
		text-decoration: none;
	}

}